---
const { title = "Anja Gollner - Selbstständig" } = Astro.props;
const navItems = [
  { href: "#skills", label: "Skills" },
  { href: "#about", label: "Über uns" },
  { href: "#portfolio", label: "Portfolio" },
  { href: "#contact", label: "Kontakt" },
];
---

<header class="bg-black text-white px-4 py-4 shadow-md fixed w-full z-10">
  <div class="max-w-[1440px] mx-auto w-full flex items-center justify-between">
    
    <div class="flex items-center">
      <img src="img/ag-logo.png" alt="Logo" class="h-20">
    </div>

    <div class="flex items-center space-x-6">
      <nav class="flex space-x-6">
        {navItems.map((item) => (
          <a href={item.href} class="hover:text-gray-300 text-white font-light transition">{item.label}</a>
        ))}
      </nav>

      <a href="#contact" class="relative group border border-primary text-primary rounded-full pl-6 pr-14 py-2 inline-flex items-center transition hover:bg-primary hover:text-black">
        <span class="text-base font-medium">Jetzt Anfragen</span>
        <span class="absolute right-1 w-9 h-9 bg-primary text-black rounded-full flex items-center justify-center transition group-hover:bg-black group-hover:text-primary">
          →
        </span>
      </a>
    </div>
    
  </div>
</header>




<script>
  const anchors = document.querySelectorAll('a[href^="#"]');
  if (anchors) {
    anchors.forEach((anchor: Element, _: number, __: NodeListOf<Element>) => {
      anchor.addEventListener('click', function (this: Element, e: Event) {
        e.preventDefault();
        const href = this.getAttribute('href');
        if (href) {
          const target = document.querySelector(href);
          if (target) {
            target.scrollIntoView({
              behavior: 'smooth'
            });
          }
        }
      });
    });
  }
</script>